In [1]:
import pandas as pd
import numpy as np

In [2]:
crime_2016 = pd.read_csv("Crime_Incidents_in_2016.csv")
crime_2017 = pd.read_csv("Crime_Incidents_in_2017.csv")
crime_2018 = pd.read_csv("Crime_Incidents_in_2018.csv")
crime_2019 = pd.read_csv("Crime_Incidents_in_2019.csv")

In [3]:
crime_2016.head()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-76.997328,38.885141,1020310,2016-02-09T13:46:39.000Z,DAY,OTHERS,THEFT/OTHER,600 - 669 BLOCK OF PENNSYLVANIA AVENUE SE,400232,135255,...,006500 1,6500.0,Precinct 89,38.885133,-76.997326,CAPITOL HILL,2016-01-19T17:00:03.000Z,2016-01-28T10:00:10.000Z,326472405,01020310-01
1,-76.969243,38.851752,6021842,2016-02-12T13:31:08.000Z,DAY,OTHERS,THEFT/OTHER,2600 - 2799 BLOCK OF JASPER STREET SE,402670,131549,...,007408 1,7408.0,Precinct 115,38.851744,-76.969241,NaN,2016-02-06T18:30:37.000Z,2016-02-06T18:40:51.000Z,326472412,06021842-01
2,-77.065954,38.948361,6080644,2016-05-20T19:04:31.000Z,EVENING,OTHERS,THEFT/OTHER,4500 - 4529 BLOCK OF CONNECTICUT AVENUE NW,394283,142275,...,001200 2,1200.0,Precinct 33,38.948353,-77.065951,NaN,2016-05-11T11:00:13.000Z,2016-05-16T10:00:24.000Z,326873629,06080644-01
3,-76.952700,38.919922,10151260,2016-09-07T14:13:47.000Z,DAY,OTHERS,THEFT F/AUTO,2400 - 2499 BLOCK OF MARKET STREET NE,404102,139117,...,009000 1,9000.0,Precinct 139,38.919914,-76.952698,NaN,2016-09-07T14:00:24.000Z,2016-09-07T14:12:47.000Z,326952058,10151260-01
4,-76.987356,38.898536,10205222,2016-12-04T03:11:26.000Z,MIDNIGHT,OTHERS,THEFT F/AUTO,1300 - 1353 BLOCK OF MARYLAND AVENUE NE,401097,136742,...,008402 1,8402.0,Precinct 82,38.898528,-76.987354,NaN,2016-12-03T20:00:00.000Z,2016-12-04T02:00:44.000Z,326957236,10205222-01

In [4]:
crime_total = [crime_2016, crime_2017, crime_2018, crime_2019]
merged_crime = pd.concat(crime_total, sort=False)

In [5]:
merged_crime.sort_values(by=['START_DATE'])

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
6091,-76.939276,38.880982,16027878,2016-02-23T23:14:15.000Z,MIDNIGHT,OTHERS,MOTOR VEHICLE THEFT,4700 - 4799 BLOCK OF ALABAMA AVENUE SE,405269.00,134795.00,...,009907 1,9907.0,Precinct 103,38.880974,-76.939274,NaN,1916-02-15T01:30:52.000Z,1916-02-23T14:00:05.000Z,327143985,16027878-01
4587,-77.072294,38.921513,16038136,2016-03-12T16:02:12.000Z,EVENING,OTHERS,THEFT F/AUTO,2301 - 2499 BLOCK OF WISCONSIN AVENUE NW,393731.00,139295.00,...,000300 1,300.0,Precinct 11,38.921505,-77.072292,NaN,1916-03-10T10:00:00.000Z,2016-03-12T16:02:06.000Z,327142481,16038136-01
9994,-76.986569,38.915147,16061294,2016-04-19T21:44:46.000Z,EVENING,OTHERS,THEFT/OTHER,1240 - 1399 BLOCK OF NEW YORK AVENUE NE,401165.00,138586.00,...,008803 1,8803.0,Precinct 76,38.915140,-76.986567,NaN,1916-04-17T21:00:57.000Z,2016-04-18T07:00:40.000Z,327147888,16061294-01
12408,-76.990911,38.862314,16062236,2016-04-21T13:21:51.000Z,DAY,OTHERS,THEFT F/AUTO,2300 - 2399 BLOCK OF MOUNT VIEW PLACE SE,400789.00,132721.00,...,007407 2,7407.0,Precinct 119,38.862306,-76.990909,NaN,1916-04-21T12:40:44.000Z,2016-04-21T12:43:30.000Z,327150302,16062236-01
12421,-76.998620,38.826055,16064838,2016-04-25T16:36:42.000Z,EVENING,OTHERS,THEFT F/AUTO,4284 4293 BLOCK OF 6TH STREET SE,400120.00,128696.00,...,009811 1,9811.0,Precinct 125,38.826047,-76.998618,NaN,1916-04-23T22:00:13.000Z,2016-04-25T15:00:06.000Z,327150315,16064838-01
14312,-76.972782,38.845663,16073374,2016-05-09T11:44:47.000Z,DAY,OTHERS,MOTOR VEHICLE THEFT,3400 - 3683 BLOCK OF 22ND STREET SE,402363.00,130873.00,...,007409 2,7409.0,Precinct 116,38.845655,-76.972780,NaN,1916-05-08T22:00:38.000Z,1916-05-09T07:00:43.000Z,327151206,16073374-01
15192,-77.041868,38.911330,17093717,2017-06-03T00:24:27.000Z,MIDNIGHT,OTHERS,SEX ABUSE,1600 - 1610 BLOCK OF NEW HAMPSHIRE AVENUE NW,396369.00,138163.00,...,005301 2,5301.0,Precinct 14,38.911322,-77.041866,NaN,1980-06-02T20:00:46.000Z,1980-06-02T20:30:56.000Z,327191273,17093717-01
33634,-77.010264,38.911860,85017166,2018-02-27T00:00:00.000Z,MIDNIGHT,OTHERS,HOMICIDE,1 - 99 BLOCK OF QUINCY PLACE NW,399110.00,138221.00,...,003302 2,3302.0,Precinct 19,38.911852,-77.010262,NaN,1985-01-11T03:56:21.000Z,1985-01-11T04:00:39.000Z,314089883,85017166-02
33633,-77.010264,38.911860,85017166,2018-02-27T00:00:00.000Z,MIDNIGHT,OTHERS,HOMICIDE,1 - 99 BLOCK OF QUINCY PLACE NW,399110.00,138221.00,...,003302 2,3302.0,Precinct 19,38.911852,-77.010262,NaN,1985-01-11T03:56:21.000Z,1985-01-11T04:00:39.000Z,314089882,85017166-01
33618,-76.999311,38.845838,91603502,2018-12-10T00:00:00.000Z,MIDNIGHT,GUN,HOMICIDE,500 - 599 BLOCK OF NEWCOMB STREET SE,400060.00,130892.00,...,010400 2,10400.0,Precinct 123,38.845830,-76.999309,NaN,1991-10-30T00:41:20.000Z,1991-10-30T01:00:44.000Z,314088460,91603502-01
20195,-76.998459,38.842495,16114928,2016-07-12T06:00:17.000Z,MIDNIGHT,GUN,ROBBERY,3200 - 3398 BLOCK OF 6TH STREET SE,400134.00,130521.00,...,009804 2,9804.0,Precinct 122,38.842488,-76.998456,NaN,2001-08-16T17:10:00.000Z,NaN,327158090,16114928-01
394,-76.993828,38.841432,16002801,2016-01-06T01:44:30.000Z,MIDNIGHT,GUN,ROBBERY,3300 3398 BLOCK OF WHEELER ROAD SE,400536.00,130403.00,...,009804 1,9804.0,Precinct 122,38.841424,-76.993826,NaN,2003-01-25T09:50:00.000Z,NaN,327134407,16002801-01
3503,-77.013923,38.931227,16010022,2016-01-22T06:38:06.000Z,MIDNIGHT,OTHERS,THEFT/OTHER,100 - 199 BLOCK OF IRVING STREET NW,398793.00,140371.00,...,002302 1,2302.0,Precinct 44,38.931219,-77.013921,NaN,2004-01-19T11:45:00.000Z,2016-01-19T16:00:46.000Z,327141397,16010022-01
7311,-77.044191,38.901339,19073209,2019-04-29T23:06:32.000Z,MIDNIGHT,OTHERS,SEX ABUSE,1900 - 1999 BLOCK OF I STREET NW,396167.00,137054.00,...,010700 1,10700.0,Precinct 17,38.901331,-77.044188,GOLDEN TRIANGLE,2005-04-17T15:00:34.000Z,2005-04-17T15:30:31.000Z,327256541,19073209-01
14342,-76.978323,38.843385,18108160,2018-07-02T21:10:37.000Z,EVENING,OTHERS,SEX ABUSE,1700 - 1799 BLOCK OF MISSISSIPPI AVENUE SE,401882.00,130620.00,...,007409 3,7409.0,Precinct 116,38.843377,-76.978321,NaN,2006-01-01T09:00:46.000Z,2009-12-31T17:00:55.000Z,314043393,18108160-01
2971,-76.938843,38.889080,18024353,2018-02-12T21:57:14.000Z,EVENING,OTHERS,SEX ABUSE,4800 - 4899 BLOCK OF TEXAS AVENUE SE,405306.00,135694.00,...,009906 1,9906.0,Precinct 103,38.889072,-76.938841,NaN,2006-02-03T00:01:36.000Z,2006-02-11T23:59:28.000Z,314031614,18024353-01
6334,-77.048216,38.904553,16051709,2016-04-04T14:41:41.000Z,DAY,OTHERS,SEX ABUSE,1100 - 1199 BLOCK OF NEW HAMPSHIRE AVENUE NW,395818.00,137411.00,...,010700 1,10700.0,Precinct 4,38.904546,-77.048214,NaN,2006-09-20T22:00:12.000Z,2006-10-20T02:00:26.000Z,327144228,16051709-01
33609,-76.972215,38.852618,7006630,2018-07-26T00:00:00.000Z,MIDNIGHT,GUN,HOMICIDE,3100 3198 BLOCK OF 24TH STREET SE,402412.00,131645.00,...,007408 1,7408.0,Precinct 115,38.852610,-76.972212,NaN,2007-01-14T23:30:00.000Z,2007-01-14T00:00:00.000Z,314076092,07006630-01
17194,-77.104521,38.926407,17113998,2017-07-04T08:53:25.000Z,DAY,OTHERS,THEFT/OTHER,5200 - 5299 BLOCK OF SHERIER PLACE NW,390937.00,139841.00,...,000902 2,902.0,Precinct 8,38.926399,-77.104519,NaN,2007-03-01T12:00:03.000Z,2017-06-26T08:53:22.000Z,327192275,17113998-01
7322,-77.023993,38.901480,17046040,2017-03-21T15:53:03.000Z,EVENING,OTHERS,SEX ABUSE,900 - 999 BLOCK OF 9TH STREET NW,397919.00,137069.00,...,005800 1,5800.0,Precinct 129,38.901472,-77.023991,DOWNTOWN,2007-03-21T15:52:49.000Z,2007-03-21T15:59:57.000Z,327182400,17046040-01
24994,-77.017558,38.894815,18155122,2018-09-14T19:44:02.000Z,EVENING,OTHERS,SEX ABUSE,300 - 498 BLOCK OF INDIANA AVENUE NW,398477.00,136329.00,...,005900 1,5900.0,Precinct 143,38.894807,-77.017556,DOWNTOWN,2009-01-14T18:14:25.000Z,2009-01-14T18:15:33.000Z,314054046,18155122-01
5934,-76.997315,38.926508,17026846,2017-02-16T15:35:02.000Z,EVENING,OTHERS,SEX ABUSE,600 - 699 BLOCK OF GIRARD STREET NE,400233.00,139847.00,...,009201 1,9201.0,Precinct 74,38.926500,-76.997313,NaN,2009-01-17T00:00:55.000Z,2009-01-17T15:33:58.000Z,327181011,17026846-01
2,-77.018036,38.960747,9251904,2017-04-07T00:00:00.000Z,MIDNIGHT,OTHERS,HOMICIDE,5800 - 5899 BLOCK OF 4TH STREET NW,398437.00,143648.00,...,001902 1,1902.0,Precinct 58,38.960739,-77.018034,NaN,2009-02-13T12:03:45.000Z,2009-02-13T12:03:43.000Z,326925622,09251904-01
11697,-76.993214,38.881276,17083485,2017-05-18T20:21:20.000Z,EVENING,OTHERS,SEX ABUSE,900 - 999 BLOCK OF G STREET SE,400589.00,134826.00,...,007000 2,7000.0,Precinct 90,38.881269,-76.993212,NaN,2010-05-01T20:21:06.000Z,2017-03-01T20:00:15.000Z,327186778,17083485-01
16121,-77.020904,38.903237,17110076,2017-06-28T11:02:19.000Z,DAY,OTHERS,SEX ABUSE,600 - 699 BLOCK OF NEW YORK AVENUE NW,398187.00,137264.00,...,004701 2,4701.0,Precinct 18,38.903229,-77.020902,MOUNT VERNON TRIANGLE CID,2010-07-27T21:00:23.000Z,2010-07-28T09:00:36.000Z,327190202,17110076-01
34711,-77.024258,38.936045,16191294,2016-11-09T18:04:08.000Z,EVENING,OTHERS,THEFT/OTHER,3650 - 3699 BLOCK OF GEORGIA AVENUE NW,397897.00,140906.00,...,003100 1,3100.0,Precinct 43,38.936037,-77.024256,NaN,2010-11-01T08:00:47.000Z,2016-11-09T12:00:59.000Z,327172614,16191294-01
2792,-77.015522,38.913553,16018451,2016-02-05T20:29:29.000Z,EVENING,OTHERS,THEFT F/AUTO,231 - 318 BLOCK OF FLORIDA AVENUE NW,398654.00,138409.00,...,004600 2,4600.0,Precinct 19,38.913545,-77.015520,NaN,2010-11-03T04:30:00.000Z,2016-02-05T17:00:28.000Z,327140686,16018451-01
10338,-76.988435,38.854179,17065773,2017-04-21T20:53:55.000Z,EVENING,OTHERS,SEX ABUSE,2400 - 2599 BLOCK OF ELVANS ROAD SE,401004.00,131818.00,...,007406 2,7406.0,Precinct 118,38.854171,-76.988433,NaN,2010-11-26T03:00:08.000Z,2010-11-26T04:00:42.000Z,327185419,17065773-01
23205,-76.977272,38.889238,17173895,2017-10-07T13:06:38.000Z,DAY,OTHERS,THEFT F/AUTO,1 - 99 BLOCK OF 19TH STREET SE,401972.00,135710.00,...,006801 1,6801.0,Precinct 87,38.889230,-76.977270,NaN,2010-11-27T15:00:00.000Z,2017-10-07T10:30:20.000Z,327197286,17173895-01
32490,-77.014550,38.951171,16209023,2016-12-10T19:25:29.000Z,EVENING,OTHERS,MOTOR VEHICLE THEFT,200 - 299 BLOCK OF FARRAGUT STREET NW,398739.00,142585.00,...,002202 1,2202.0,Precinct 55,38.951164,-77.014547,NaN,2010-12-01T01:00:00.000Z,2016-12-10T15:30:26.000Z,327170388,16209023-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18441,-77.042577,38.902533,19142394,2019-08-12T21:12:20.000Z,EVENING,OTHERS,MOTOR VEHICLE THEFT,1800 - 1899 BLOCK OF K STREET NW,396307.07,137186.46,...,010700 1,10700.0,Precinct 17,38.902525,-77.042574,GOLDEN TRIANGLE,2019-08-12T16:19:50.000Z,2019-08-12T16:21:37.000Z,327266554,19142394-01
18568,-77.066940,38.905094,19142407,2019-08-12T21:22:00.000Z,EVENING,OTHERS,THEFT/OTHER,3300 - 3399 BLOCK OF M STREET NW,394194.00,137472.00,...,000202 4,202.0,Precinct 6,38.905086,-77.066937,GEORGETOWN,2019-08-12T16:20:30.000Z,2019-08-12T16:30:32.000Z,327266681,19142407-01
18575,-77.064000,38.905158,19142441,2019-08-12T21:52:22.000Z,EVENING,OTHERS,THEFT/OTHER,3200 - 3275 BLOCK OF M STREET NW,394449.00,137479.00,...,000202 4,202.0,Precinct 6,38.905151,-77.063998,GEORGETOWN,2019-08-12T16:30:14.000Z,2019-08-12T18:23:59.000Z,327266688,19142441-01
18440,-76.990897,38.882519,19142388,2019-08-12T23:44:57.000Z,MIDNIGHT,OTHERS,THEFT/OTHER,1100 - 1199 BLOCK OF PENNSYLVANIA AVENUE SE,400790.00,134964.00,...,007100 2,7100.0,Precinct 91,38.882512,-76.990895,CAPITOL HILL,2019-08-12T16:43:06.000Z,2019-08-12T18:03:24.000Z,327266553,19142388-01
18436,-77.001317,38.900212,19142372,2019-08-12T17:32:09.000Z,EVENING,OTHERS,THEFT/OTHER,300 - 399 BLOCK OF H STREET NE,399886.00,136928.00,...,008301 1,8301.0,Precinct 83,38.900204,-77.001314,NaN,2019-08-12T16:43:32.000Z,NaN,327266549,19142372-01
18442,-77.025450,38.978311,19142399,2019-08-12T18:58:36.000Z,EVENING,OTHERS,THEFT F/AUTO,800 - 999 BLOCK OF FERN PLACE NW,397795.00,145598.00,...,010300 3,10300.0,Precinct 63,38.978304,-77.025448,NaN,2019-08-12T17:05:17.000Z,2019-08-12T18:39:49.000Z,327266555,19142399-01
18572,-77.042588,38.901340,19142427,2019-08-12T21:30:03.000Z,EVENING,OTHERS,THEFT/OTHER,1800 - 1899 BLOCK OF I STREET NW,396306.00,137054.00,...,010700 1,10700.0,Precinct 17,38.901332,-77.042586,GOLDEN TRIANGLE,2019-08-12T17:20:39.000Z,2019-08-12T17:30:04.000Z,327266685,19142427-01
18567,-77.042579,38.905655,19142404,2019-08-12T20:51:29.000Z,EVENING,OTHERS,THEFT/OTHER,1800 - 1899 BLOCK OF M STREET NW,396307.00,137533.00,...,010700 1,10700.0,Precinct 17,38.905647,-77.042577,GOLDEN TRIANGLE,2019-08-12T17:21:50.000Z,2019-08-12T18:34:21.000Z,327266680,19142404-01
18569,-77.040883,38.923870,19142409,2019-08-12T18:27:45.000Z,EVENING,OTHERS,THEFT/OTHER,1737 - 1776 BLOCK OF COLUMBIA ROAD NW,396455.00,139555.00,...,003800 3,3800.0,Precinct 35,38.923862,-77.040881,ADAMS MORGAN,2019-08-12T17:36:19.000Z,2019-08-12T18:23:48.000Z,327266682,19142409-01
18570,-77.017571,38.899797,19142411,2019-08-12T18:28:43.000Z,EVENING,OTHERS,THEFT/OTHER,400 - 499 BLOCK OF H STREET NW,398476.00,136882.00,...,005900 1,5900.0,Precinct 143,38.899789,-77.017569,DOWNTOWN,2019-08-12T17:44:22.000Z,NaN,327266683,19142411-01
18580,-76.998194,38.844117,19142476,2019-08-12T19:52:50.000Z,EVENING,OTHERS,THEFT/OTHER,3026 - 3099 BLOCK OF MARTIN LUTHER KING JR AVE...,400157.00,130701.00,...,010400 1,10400.0,Precinct 123,38.844109,-76.998191,NaN,2019-08-12T18:30:36.000Z,2019-08-12T18:40:21.000Z,327266693,19142476-01
18576,-77.025450,38.978311,19142445,2019-08-12T18:52:00.000Z,EVENING,OTHERS,THEFT F/AUTO,800 - 999 BLOCK OF FERN PLACE NW,397795.00,145598.00,...,010300 3,10300.0,Precinct 63,38.978304,-77.025448,NaN,2019-08-12T18:39:38.000Z,2019-08-12T18:48:04.000Z,327266689,19142445-01
18586,-77.062005,38.905186,19142498,2019-08-12T20:42:43.000Z,EVENING,OTHERS,THEFT/OTHER,3100 - 3199 BLOCK OF M STREET NW,394622.00,137482.00,...,000100 4,100.0,Precinct 5,38.905179,-77.062003,GEORGETOWN,2019-08-12T19:00:22.000Z,2019-08-12T20:07:51.000Z,327266699,19142498-01
18581,-76.963526,38.880244,19142479,2019-08-12T22:20:07.000Z,EVENING,OTHERS,BURGLARY,3010 - 3099 BLOCK OF G STREET SE,403165.00,134712.00,...,007709 1,7709.0,Precinct 132,38.880236,-76.963523,NaN,2019-08-12T19:01:28.000Z,2019-08-12T22:10:22.000Z,327266694,19142479-01
18585,-77.032733,38.929521,19142489,2019-08-13T00:04:27.000Z,MIDNIGHT,OTHERS,THEFT/OTHER,3100 - 3299 BLOCK OF 14TH STREET NW,397162.00,140182.00,...,003000 1,3000.0,Precinct 39,38.929513,-77.032731,NaN,2019-08-12T19:40:03.000Z,2019-08-12T21:08:57.000Z,327266698,19142489-01
18588,-77.013664,38.906112,19142510,2019-08-12T21:30:23.000Z,EVENING,OTHERS,THEFT F/AUTO,1200 - 1209 BLOCK OF KIRBY STREET NW,398815.00,137583.00,...,004600 2,4600.0,Precinct 1,38.906104,-77.013662,NaN,2019-08-12T19:41:51.000Z,2019-08-12T20:48:47.000Z,327266701,19142510-01
18589,-77.019904,38.914777,19142513,2019-08-12T20:46:23.000Z,EVENING,OTHERS,THEFT/OTHER,1800 - 1841 BLOCK OF 6TH STREET NW,398274.00,138545.00,...,004801 1,4801.0,Precinct 21,38.914769,-77.019902,NaN,2019-08-12T20:07:46.000Z,2019-08-12T20:40:30.000Z,327266702,19142513-01
18587,-77.039673,38.903151,19142507,2019-08-12T20:56:03.000Z,EVENING,OTHERS,THEFT/OTHER,1000 - 1099 BLOCK OF CONNECTICUT AVENUE NW,396559.00,137255.00,...,010700 1,10700.0,Precinct 17,38.903143,-77.039670,GOLDEN TRIANGLE,2019-08-12T20:10:07.000Z,2019-08-12T20:11:58.000Z,327266700,19142507-01
18590,-76.955144,38.922283,19142516,2019-08-12T20:45:24.000Z,EVENING,OTHERS,THEFT/OTHER,2400 - 2432 BLOCK OF BALDWIN CRESCENT NE,403890.00,139379.00,...,009000 1,9000.0,Precinct 139,38.922275,-76.955141,NaN,2019-08-12T20:17:43.000Z,NaN,327266703,19142516-01
18719,-76.988435,38.854179,19142557,2019-08-13T00:00:00.000Z,MIDNIGHT,GUN,HOMICIDE,2400 - 2599 BLOCK OF ELVANS ROAD SE,401004.00,131818.00,...,007406 2,7406.0,Precinct 118,38.854171,-76.988433,NaN,2019-08-12T20:25:00.000Z,2019-08-12T23:12:47.000Z,327266832,19142557-01
18718,-77.037465,38.935717,19142536,2019-08-12T21:36:55.000Z,EVENING,OTHERS,THEFT/OTHER,1610 - 1699 BLOCK OF OAK STREET NW,396752.00,140870.00,...,002701 1,2701.0,Precinct 40,38.935709,-77.037462,NaN,2019-08-12T20:36:45.000Z,2019-08-12T21:24:24.000Z,327266831,19142536-01
18591,-77.018933,38.906048,19142528,2019-08-12T21:46:55.000Z,EVENING,OTHERS,THEFT/OTHER,1200 - 1220 BLOCK OF 5TH STREET NW,398358.00,137576.00,...,004802 2,4802.0,Precinct 18,38.906040,-77.018931,NaN,2019-08-12T20:51:44.000Z,2019-08-12T21:16:31.000Z,327266704,19142528-01
18723,-77.016777,38.953234,19142579,2019-08-12T22:50:10.000Z,EVENING,OTHERS,THEFT/OTHER,300 - 399 BLOCK OF HAMILTON STREET NW,398546.00,142814.00,...,002102 5,2102.0,Precinct 57,38.953226,-77.016775,NaN,2019-08-12T21:00:55.000Z,2019-08-12T21:40:18.000Z,327266836,19142579-01
18722,-77.000060,38.876484,19142572,2019-08-12T22:20:54.000Z,EVENING,OTHERS,THEFT/OTHER,400 - 499 BLOCK OF M STREET SE,399995.00,134294.00,...,007200 2,7200.0,Precinct 131,38.876476,-77.000058,CAPITOL RIVERFRONT,2019-08-12T21:15:20.000Z,2019-08-12T21:22:19.000Z,327266835,19142572-01
18721,-76.938599,38.891125,19142571,2019-08-13T00:39:56.000Z,MIDNIGHT,OTHERS,THEFT/OTHER,4400 - 4499 BLOCK OF BENNING ROAD NE,405327.00,135921.00,...,009603 1,9603.0,Precinct 102,38.891117,-76.938597,NaN,2019-08-12T21:39:38.000Z,2019-08-12T22:28:16.000Z,327266834,19142571-01
18725,-76.972782,38.845663,19142594,2019-08-12T23:34:46.000Z,MIDNIGHT,OTHERS,THEFT/OTHER,3400 - 3683 BLOCK OF 22ND STREET SE,402363.00,130873.00,...,007409 2,7409.0,Precinct 116,38.845655,-76.972780,NaN,2019-08-12T21:41:43.000Z,2019-08-12T23:09:58.000Z,327266838,19142594-01
18720,-77.028858,38.900488,19142569,2019-08-12T22:27:01.000Z,EVENING,OTHERS,THEFT/OTHER,1200 - 1299 BLOCK OF NEW YORK AVENUE NW,397497.00,136959.00,...,010100 1,10100.0,Precinct 129,38.900480,-77.028855,DOWNTOWN,2019-08-12T21:44:30.000Z,2019-08-12T22:27:15.000Z,327266833,19142569-01
18724,-77.031955,38.917558,19142593,2019-08-12T23:10:37.000Z,MIDNIGHT,KNIFE,ROBBERY,2000 - 2099 BLOCK OF 14TH STREET NW,397229.00,138854.00,...,004300 1,4300.0,Precinct 22,38.917550,-77.031952,NaN,2019-08-12T22:20:55.000Z,2019-08-12T22:45:48.000Z,327266837,19142593-01
18726,-76.977358,38.871383,19142604,2019-08-13T00:22:02.000Z,MIDNIGHT,GUN,ASSAULT W/DANGEROUS WEAPON,1500 - 1599 BLOCK OF 19TH STREET SE,401965.00,133728.00,...,007601 3,7601.0,Precinct 140,38.871375,-76.977356,NaN,2019-08-12T22:26:36.000Z,NaN,327266839,19142604-01
18727,-77.001453,38.825091,19142616,2019-08-13T00:21:09.000Z,MIDNIGHT,OTHERS,ROBBERY,4400 - 4599 BLOCK OF 3RD STREET SE,399874.00,128589.00,...,009810 1,9810.0,Precinct 125,38.825083,-77.001451,NaN,2019-08-12T23:04:20.000Z,NaN,327266840,19142616-01

In [6]:
new = merged_crime["START_DATE"].str.split("-", expand = True)
new.head()

      0   1                 2
0  2016  01  19T17:00:03.000Z
1  2016  02  06T18:30:37.000Z
2  2016  05  11T11:00:13.000Z
3  2016  09  07T14:00:24.000Z
4  2016  12  03T20:00:00.000Z

In [7]:
# new[0].value_counts()
merged_crime["report_year"] = new[0]

In [8]:
merged_crime.head()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,report_year
0,-76.997328,38.885141,1020310,2016-02-09T13:46:39.000Z,DAY,OTHERS,THEFT/OTHER,600 - 669 BLOCK OF PENNSYLVANIA AVENUE SE,400232.0,135255.0,...,6500.0,Precinct 89,38.885133,-76.997326,CAPITOL HILL,2016-01-19T17:00:03.000Z,2016-01-28T10:00:10.000Z,326472405,01020310-01,2016
1,-76.969243,38.851752,6021842,2016-02-12T13:31:08.000Z,DAY,OTHERS,THEFT/OTHER,2600 - 2799 BLOCK OF JASPER STREET SE,402670.0,131549.0,...,7408.0,Precinct 115,38.851744,-76.969241,NaN,2016-02-06T18:30:37.000Z,2016-02-06T18:40:51.000Z,326472412,06021842-01,2016
2,-77.065954,38.948361,6080644,2016-05-20T19:04:31.000Z,EVENING,OTHERS,THEFT/OTHER,4500 - 4529 BLOCK OF CONNECTICUT AVENUE NW,394283.0,142275.0,...,1200.0,Precinct 33,38.948353,-77.065951,NaN,2016-05-11T11:00:13.000Z,2016-05-16T10:00:24.000Z,326873629,06080644-01,2016
3,-76.952700,38.919922,10151260,2016-09-07T14:13:47.000Z,DAY,OTHERS,THEFT F/AUTO,2400 - 2499 BLOCK OF MARKET STREET NE,404102.0,139117.0,...,9000.0,Precinct 139,38.919914,-76.952698,NaN,2016-09-07T14:00:24.000Z,2016-09-07T14:12:47.000Z,326952058,10151260-01,2016
4,-76.987356,38.898536,10205222,2016-12-04T03:11:26.000Z,MIDNIGHT,OTHERS,THEFT F/AUTO,1300 - 1353 BLOCK OF MARYLAND AVENUE NE,401097.0,136742.0,...,8402.0,Precinct 82,38.898528,-76.987354,NaN,2016-12-03T20:00:00.000Z,2016-12-04T02:00:44.000Z,326957236,10205222-01,2016

In [9]:
merged_crime['report_year']= merged_crime['report_year'].astype(int)

In [10]:
merged_crime = merged_crime[merged_crime.report_year >= 2016]

In [11]:
merged_crime['report_year'].value_counts()

2016    37146
2018    33641
2017    33002
2019    19473
Name: report_year, dtype: int64

In [12]:
# merged_crime['START_DATE']= merged_crime['START_DATE'].astype(str)

In [13]:
merged_crime['START_DATE']= merged_crime['START_DATE'].map(lambda x: str(x)[:-14])

In [14]:
merged_crime.head()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,report_year
0,-76.997328,38.885141,1020310,2016-02-09T13:46:39.000Z,DAY,OTHERS,THEFT/OTHER,600 - 669 BLOCK OF PENNSYLVANIA AVENUE SE,400232.0,135255.0,...,6500.0,Precinct 89,38.885133,-76.997326,CAPITOL HILL,2016-01-19,2016-01-28T10:00:10.000Z,326472405,01020310-01,2016
1,-76.969243,38.851752,6021842,2016-02-12T13:31:08.000Z,DAY,OTHERS,THEFT/OTHER,2600 - 2799 BLOCK OF JASPER STREET SE,402670.0,131549.0,...,7408.0,Precinct 115,38.851744,-76.969241,NaN,2016-02-06,2016-02-06T18:40:51.000Z,326472412,06021842-01,2016
2,-77.065954,38.948361,6080644,2016-05-20T19:04:31.000Z,EVENING,OTHERS,THEFT/OTHER,4500 - 4529 BLOCK OF CONNECTICUT AVENUE NW,394283.0,142275.0,...,1200.0,Precinct 33,38.948353,-77.065951,NaN,2016-05-11,2016-05-16T10:00:24.000Z,326873629,06080644-01,2016
3,-76.952700,38.919922,10151260,2016-09-07T14:13:47.000Z,DAY,OTHERS,THEFT F/AUTO,2400 - 2499 BLOCK OF MARKET STREET NE,404102.0,139117.0,...,9000.0,Precinct 139,38.919914,-76.952698,NaN,2016-09-07,2016-09-07T14:12:47.000Z,326952058,10151260-01,2016
4,-76.987356,38.898536,10205222,2016-12-04T03:11:26.000Z,MIDNIGHT,OTHERS,THEFT F/AUTO,1300 - 1353 BLOCK OF MARYLAND AVENUE NE,401097.0,136742.0,...,8402.0,Precinct 82,38.898528,-76.987354,NaN,2016-12-03,2016-12-04T02:00:44.000Z,326957236,10205222-01,2016

In [15]:
crime_count = merged_crime.groupby('START_DATE')['CCN'].count()
crime_count

START_DATE
2016-01-01    103
2016-01-02     93
2016-01-03    100
2016-01-04     77
2016-01-05     92
2016-01-06     88
2016-01-07     78
2016-01-08    120
2016-01-09     89
2016-01-10     84
2016-01-11    107
2016-01-12     94
2016-01-13     92
2016-01-14     92
2016-01-15    119
2016-01-16    109
2016-01-17     81
2016-01-18     68
2016-01-19     89
2016-01-20     71
2016-01-21     95
2016-01-22     63
2016-01-23     28
2016-01-24     38
2016-01-25     36
2016-01-26     62
2016-01-27     73
2016-01-28     78
2016-01-29     91
2016-01-30     94
             ...
2019-07-14     99
2019-07-15    110
2019-07-16     84
2019-07-17     97
2019-07-18     73
2019-07-19     89
2019-07-20     95
2019-07-21     88
2019-07-22    114
2019-07-23     96
2019-07-24    104
2019-07-25    106
2019-07-26    122
2019-07-27    118
2019-07-28    109
2019-07-29    106
2019-07-30    123
2019-07-31     90
2019-08-01     77
2019-08-02     85
2019-08-03     92
2019-08-04     90
2019-08-05    108
2019-08-06     90
2019-08-07     98
2019-08-08     95
2019-08-09     94
2019-08-10     85
2019-08-11     78
2019-08-12     93
Name: CCN, Length: 1320, dtype: int64

In [16]:
merged_crime.to_csv("combined_crime.csv", index=False)

In [17]:
crime_date_count = merged_crime.groupby('START_DATE')['CCN'].nunique()
crime_date_count_df = pd.DataFrame(crime_date_count)
crime_date_count_df.head()

            CCN
START_DATE
2016-01-01  103
2016-01-02   93
2016-01-03  100
2016-01-04   77
2016-01-05   92

In [18]:
crime_date_count_df.rename(columns={'CCN': 'crime-count'})

            crime-count
START_DATE
2016-01-01          103
2016-01-02           93
2016-01-03          100
2016-01-04           77
2016-01-05           92
2016-01-06           88
2016-01-07           78
2016-01-08          120
2016-01-09           89
2016-01-10           84
2016-01-11          107
2016-01-12           94
2016-01-13           92
2016-01-14           92
2016-01-15          119
2016-01-16          109
2016-01-17           81
2016-01-18           68
2016-01-19           89
2016-01-20           71
2016-01-21           95
2016-01-22           63
2016-01-23           28
2016-01-24           38
2016-01-25           36
2016-01-26           62
2016-01-27           73
2016-01-28           78
2016-01-29           91
2016-01-30           94
...                 ...
2019-07-14           99
2019-07-15          110
2019-07-16           84
2019-07-17           97
2019-07-18           73
2019-07-19           88
2019-07-20           95
2019-07-21           88
2019-07-22          114
2019-07-23           96
2019-07-24          104
2019-07-25          106
2019-07-26          122
2019-07-27          118
2019-07-28          109
2019-07-29          106
2019-07-30          123
2019-07-31           90
2019-08-01           77
2019-08-02           85
2019-08-03           92
2019-08-04           90
2019-08-05          108
2019-08-06           90
2019-08-07           98
2019-08-08           95
2019-08-09           94
2019-08-10           85
2019-08-11           78
2019-08-12           93

[1320 rows x 1 columns]

In [19]:
crime_date_count_df.reset_index()

      START_DATE  CCN
0     2016-01-01  103
1     2016-01-02   93
2     2016-01-03  100
3     2016-01-04   77
4     2016-01-05   92
5     2016-01-06   88
6     2016-01-07   78
7     2016-01-08  120
8     2016-01-09   89
9     2016-01-10   84
10    2016-01-11  107
11    2016-01-12   94
12    2016-01-13   92
13    2016-01-14   92
14    2016-01-15  119
15    2016-01-16  109
16    2016-01-17   81
17    2016-01-18   68
18    2016-01-19   89
19    2016-01-20   71
20    2016-01-21   95
21    2016-01-22   63
22    2016-01-23   28
23    2016-01-24   38
24    2016-01-25   36
25    2016-01-26   62
26    2016-01-27   73
27    2016-01-28   78
28    2016-01-29   91
29    2016-01-30   94
...          ...  ...
1290  2019-07-14   99
1291  2019-07-15  110
1292  2019-07-16   84
1293  2019-07-17   97
1294  2019-07-18   73
1295  2019-07-19   88
1296  2019-07-20   95
1297  2019-07-21   88
1298  2019-07-22  114
1299  2019-07-23   96
1300  2019-07-24  104
1301  2019-07-25  106
1302  2019-07-26  122
1303  2019-07-27  118
1304  2019-07-28  109
1305  2019-07-29  106
1306  2019-07-30  123
1307  2019-07-31   90
1308  2019-08-01   77
1309  2019-08-02   85
1310  2019-08-03   92
1311  2019-08-04   90
1312  2019-08-05  108
1313  2019-08-06   90
1314  2019-08-07   98
1315  2019-08-08   95
1316  2019-08-09   94
1317  2019-08-10   85
1318  2019-08-11   78
1319  2019-08-12   93

[1320 rows x 2 columns]

In [20]:
crime_date_count_df.to_csv("combined_crime_counts.csv")

In [21]:
crime_df = crime_date_count_df
lunar_df = pd.read_csv("lunar_clean.csv")
weather_df = pd.read_csv("dc_weather_2016_2019.csv")

In [26]:
weather_df.head()

,STATION,NAME,DAPR,MDPR,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESD,WT01,WT03,WT04,WT06,WT11
DATE,,,,,,,,,,,,,,,,
2016-01-01,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,56.0,41.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-02,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,0.0,0.0,46.0,31.0,34.0,0.0,NaN,NaN,NaN,NaN,NaN
2016-01-03,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,48.0,29.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-04,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,53.0,29.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-05,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,38.0,15.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# lunar_df.set_index('DateStr', inplace=True)
lunar_df.head()

            Year  Month  Date  Day  Illum
DateStr
2016-01-01  2016      1     1    6   0.60
2016-01-02  2016      1     2    7   0.50
2016-01-03  2016      1     3    1   0.41
2016-01-04  2016      1     4    2   0.32
2016-01-05  2016      1     5    3   0.23

In [31]:
crime_df.head()

            CCN
START_DATE
2016-01-01  103
2016-01-02   93
2016-01-03  100
2016-01-04   77
2016-01-05   92

In [36]:
crime_df.reset_index(inplace=True)

In [37]:
crime_df.rename(columns={"START_DATE":"DATE"}, inplace=True)

In [38]:
crime_df.head()

         DATE  CCN
0  2016-01-01  103
1  2016-01-02   93
2  2016-01-03  100
3  2016-01-04   77
4  2016-01-05   92

In [39]:
crime_df.set_index('DATE', inplace=True)

In [40]:
crime_df.head()

            CCN
DATE
2016-01-01  103
2016-01-02   93
2016-01-03  100
2016-01-04   77
2016-01-05   92

In [41]:
lunar_df.reset_index(inplace=True)

In [42]:
lunar_df.rename(columns={"DateStr":"DATE"}, inplace=True)

In [43]:
lunar_df.set_index('DATE', inplace=True)
lunar_df.head()

            Year  Month  Date  Day  Illum
DATE
2016-01-01  2016      1     1    6   0.60
2016-01-02  2016      1     2    7   0.50
2016-01-03  2016      1     3    1   0.41
2016-01-04  2016      1     4    2   0.32
2016-01-05  2016      1     5    3   0.23

In [47]:
weather_crime_df = pd.merge(crime_df, weather_df, on='DATE', how="left")

In [50]:
weather_crime_lunar_df = pd.merge(weather_crime_df, lunar_df, on='DATE', how="left")

In [51]:
weather_crime_lunar_df.head()

,CCN,STATION,NAME,DAPR,MDPR,PRCP,SNOW,SNWD,TMAX,TMIN,...,WT01,WT03,WT04,WT06,WT11,Year,Month,Date,Day,Illum
DATE,,,,,,,,,,,,,,,,,,,,,
2016-01-01,103,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,56.0,41.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,1,6,0.60
2016-01-02,93,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,0.0,0.0,46.0,31.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,2,7,0.50
2016-01-03,100,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,48.0,29.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,3,1,0.41
2016-01-04,77,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,53.0,29.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,4,2,0.32
2016-01-05,92,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,38.0,15.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,5,3,0.23

In [52]:
weather_crime_lunar_df.reset_index(inplace=True)

In [53]:
weather_crime_lunar_df.head()

,DATE,CCN,STATION,NAME,DAPR,MDPR,PRCP,SNOW,SNWD,TMAX,...,WT01,WT03,WT04,WT06,WT11,Year,Month,Date,Day,Illum
0,2016-01-01,103,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,56.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,1,6,0.60
1,2016-01-02,93,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,0.0,0.0,46.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,2,7,0.50
2,2016-01-03,100,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,48.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,3,1,0.41
3,2016-01-04,77,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,53.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,4,2,0.32
4,2016-01-05,92,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,38.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,5,3,0.23

In [54]:
weather_crime_lunar_df.to_csv("combined_weather_crime_lunar_df.csv")