In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.metrics import log_loss
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression
from tensorflow.keras.utils import to_categorical
import numpy as np
 
#Load Data with pandas, and parse the first column into datetime
# train=pd.read_csv('train.csv', parse_dates = ['Dates'])
# test=pd.read_csv('test.csv', parse_dates = ['Dates'])
data=pd.read_csv('data/alldistricts.csv')
data.head()

/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,Unnamed: 0,DATE,CCN,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,Day,Date,Month,Year,Illum
0,0,2008-01-01,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,54.0,36.0,3,1,1,2008,0.42
1,1,2008-01-02,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,38.0,25.0,6,1,2,2008,0.32
2,2,2008-01-03,75,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,34.0,22.0,7,1,3,2008,0.40
3,3,2008-01-04,65,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,41.0,21.0,3,1,4,2008,0.28
4,4,2008-01-05,88,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,43.0,28.0,5,1,5,2008,0.24

In [2]:
data.drop(data.columns[[0]], axis=1, inplace=True)
data.head()

,DATE,CCN,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,Day,Date,Month,Year,Illum
0,2008-01-01,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,54.0,36.0,3,1,1,2008,0.42
1,2008-01-02,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,38.0,25.0,6,1,2,2008,0.32
2,2008-01-03,75,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,34.0,22.0,7,1,3,2008,0.40
3,2008-01-04,65,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,41.0,21.0,3,1,4,2008,0.28
4,2008-01-05,88,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,43.0,28.0,5,1,5,2008,0.24

In [3]:
data.rename(columns={"CCN": "CRIME-COUNT"}, inplace=True)

In [4]:
data['bins'] = np.nan

In [5]:
data.head()

,DATE,CRIME-COUNT,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,Day,Date,Month,Year,Illum,bins
0,2008-01-01,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,54.0,36.0,3,1,1,2008,0.42,NaN
1,2008-01-02,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,38.0,25.0,6,1,2,2008,0.32,NaN
2,2008-01-03,75,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,34.0,22.0,7,1,3,2008,0.40,NaN
3,2008-01-04,65,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,41.0,21.0,3,1,4,2008,0.28,NaN
4,2008-01-05,88,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,43.0,28.0,5,1,5,2008,0.24,NaN

In [6]:
data['CRIME-COUNT'].describe()

count    4200.000000
mean       94.433810
std        18.374149
min        16.000000
25%        82.000000
50%        94.000000
75%       106.000000
max       163.000000
Name: CRIME-COUNT, dtype: float64

In [7]:
data.loc[data['CRIME-COUNT']<=62, ['bins']] = 'VeryLow'

In [8]:
data.loc[(data['CRIME-COUNT']>=63) & (data['CRIME-COUNT']<=83), ['bins']] = 'Low'

In [9]:
data.loc[(data['CRIME-COUNT']>=84) & (data['CRIME-COUNT']<=104), ['bins']] = 'Medium'

In [10]:
data.loc[(data['CRIME-COUNT']>=105) & (data['CRIME-COUNT']<=125), ['bins']] = 'High'

In [11]:
data.loc[(data['CRIME-COUNT']>=126, ['bins'])] = 'VeryHigh'

In [ ]:
# data.loc[data['CRIME-COUNT']<=80, ['bins']] = 'Low'

In [ ]:
# data.loc[(data['CRIME-COUNT']>=81) & (data['CRIME-COUNT']<=100), ['bins']] = 'Medium'

In [ ]:
# data.loc[data['CRIME-COUNT']>=101, ['bins']] = 'High'

In [12]:
data['bins'].value_counts()

Medium      1830
Low         1014
High        1004
VeryHigh     208
VeryLow      144
Name: bins, dtype: int64

In [13]:
data.isnull().any()

DATE           False
CRIME-COUNT    False
STATION        False
NAME           False
AWND           False
PRCP           False
SNOW           False
SNWD           False
TMAX           False
TMIN           False
Day            False
Date           False
Month          False
Year           False
Illum          False
bins           False
dtype: bool

In [14]:
data.head()

,DATE,CRIME-COUNT,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,Day,Date,Month,Year,Illum,bins
0,2008-01-01,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,54.0,36.0,3,1,1,2008,0.42,Low
1,2008-01-02,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,38.0,25.0,6,1,2,2008,0.32,Low
2,2008-01-03,75,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,34.0,22.0,7,1,3,2008,0.40,Low
3,2008-01-04,65,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,41.0,21.0,3,1,4,2008,0.28,Low
4,2008-01-05,88,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,43.0,28.0,5,1,5,2008,0.24,Medium

In [15]:
X = data.drop(["bins", "DATE", "STATION", "NAME", "CRIME-COUNT", "Year"], axis=1)
y = data["bins"]

In [16]:
data.head()

,DATE,CRIME-COUNT,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,Day,Date,Month,Year,Illum,bins
0,2008-01-01,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,54.0,36.0,3,1,1,2008,0.42,Low
1,2008-01-02,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,38.0,25.0,6,1,2,2008,0.32,Low
2,2008-01-03,75,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,34.0,22.0,7,1,3,2008,0.40,Low
3,2008-01-04,65,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,41.0,21.0,3,1,4,2008,0.28,Low
4,2008-01-05,88,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,43.0,28.0,5,1,5,2008,0.24,Medium

In [17]:
# X['TMAX'] = X['TMAX'].astype(float)
# X['TMIN'] = X['TMIN'].astype(float)
# X['Month'] = X['Month'].astype(float)
# X['Date'] = X['Date'].astype(float)
# X['Day'] = X['Illum'].astype(float)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [19]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [21]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [22]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [23]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=10))
model.add(Dropout(.1))
model.add(Dense(units=100, activation='sigmoid'))
model.add(Dense(units=100, activation='tanh'))
model.add(Dropout(.1))
model.add(Dense(units=100, activation='relu'))
model.add(Dropout(.1))
model.add(Dense(units=100, activation='tanh'))
model.add(Dropout(.1))
model.add(Dense(units=100, activation='relu'))
model.add(Dropout(.1))
model.add(Dense(units=5, activation='softmax'))

WARNING: Logging before flag parsing goes to stderr.
W0822 13:25:20.151149 4638102976 deprecation.py:506] From /anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [24]:
model.compile(optimizer='nadam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [25]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               1100
_________________________________________________________________
dropout (Dropout)            (None, 100)               0
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 100)               10100
_________________________________________________________________
dropout_1 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_3 (Dense)              (None, 100)               10100
_________________________________________________________________
dropout_2 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_4 (Dense)              (None, 100)               10100
_________________________________________________________________
dropout_3 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_5 (Dense)              (None, 100)               10100
_________________________________________________________________
dropout_4 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_6 (Dense)              (None, 5)                 505
=================================================================
Total params: 52,105
Trainable params: 52,105
Non-trainable params: 0
_________________________________________________________________

In [26]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
3150/3150 - 1s - loss: 1.3554 - acc: 0.4092
Epoch 2/100
3150/3150 - 0s - loss: 1.2656 - acc: 0.4394
Epoch 3/100
3150/3150 - 0s - loss: 1.2103 - acc: 0.4479
Epoch 4/100
3150/3150 - 0s - loss: 1.1829 - acc: 0.4616
Epoch 5/100
3150/3150 - 0s - loss: 1.1710 - acc: 0.4689
Epoch 6/100
3150/3150 - 0s - loss: 1.1772 - acc: 0.4689
Epoch 7/100
3150/3150 - 0s - loss: 1.1583 - acc: 0.4775
Epoch 8/100
3150/3150 - 0s - loss: 1.1610 - acc: 0.4670
Epoch 9/100
3150/3150 - 0s - loss: 1.1557 - acc: 0.4765
Epoch 10/100
3150/3150 - 0s - loss: 1.1552 - acc: 0.4838
Epoch 11/100
3150/3150 - 0s - loss: 1.1512 - acc: 0.4816
Epoch 12/100
3150/3150 - 0s - loss: 1.1497 - acc: 0.4746
Epoch 13/100
3150/3150 - 0s - loss: 1.1365 - acc: 0.4892
Epoch 14/100
3150/3150 - 0s - loss: 1.1426 - acc: 0.4771
Epoch 15/100
3150/3150 - 0s - loss: 1.1470 - acc: 0.4724
Epoch 16/100
3150/3150 - 0s - loss: 1.1358 - acc: 0.4841
Epoch 17/100
3150/3150 - 0s - loss: 1.1411 - acc: 0.4784
Epoch 18/100
3150/3150 - 0s - loss: 1.1371 - acc: 0.4876
Epoch 19/100
3150/3150 - 0s - loss: 1.1346 - acc: 0.4841
Epoch 20/100
3150/3150 - 0s - loss: 1.1320 - acc: 0.4816
Epoch 21/100
3150/3150 - 0s - loss: 1.1331 - acc: 0.4905
Epoch 22/100
3150/3150 - 0s - loss: 1.1331 - acc: 0.4870
Epoch 23/100
3150/3150 - 0s - loss: 1.1207 - acc: 0.4956
Epoch 24/100
3150/3150 - 0s - loss: 1.1297 - acc: 0.4886
Epoch 25/100
3150/3150 - 0s - loss: 1.1296 - acc: 0.4892
Epoch 26/100
3150/3150 - 0s - loss: 1.1326 - acc: 0.4860
Epoch 27/100
3150/3150 - 0s - loss: 1.1205 - acc: 0.4930
Epoch 28/100
3150/3150 - 0s - loss: 1.1223 - acc: 0.4863
Epoch 29/100
3150/3150 - 0s - loss: 1.1246 - acc: 0.4844
Epoch 30/100
3150/3150 - 0s - loss: 1.1185 - acc: 0.4898
Epoch 31/100
3150/3150 - 0s - loss: 1.1220 - acc: 0.4908
Epoch 32/100
3150/3150 - 0s - loss: 1.1187 - acc: 0.4886
Epoch 33/100
3150/3150 - 0s - loss: 1.1200 - acc: 0.4905
Epoch 34/100
3150/3150 - 0s - loss: 1.1209 - acc: 0.4927
Epoch 35/100
3150/3150 - 0s - loss: 1.1176 - acc: 0.4930
Epoch 36/100
3150/3150 - 0s - loss: 1.1145 - acc: 0.4927
Epoch 37/100
3150/3150 - 0s - loss: 1.1219 - acc: 0.4889
Epoch 38/100
3150/3150 - 0s - loss: 1.1145 - acc: 0.4914
Epoch 39/100
3150/3150 - 0s - loss: 1.1155 - acc: 0.4921
Epoch 40/100
3150/3150 - 0s - loss: 1.1167 - acc: 0.4927
Epoch 41/100
3150/3150 - 0s - loss: 1.1168 - acc: 0.4930
Epoch 42/100
3150/3150 - 0s - loss: 1.1123 - acc: 0.4905
Epoch 43/100
3150/3150 - 0s - loss: 1.1180 - acc: 0.4895
Epoch 44/100
3150/3150 - 0s - loss: 1.1074 - acc: 0.4959
Epoch 45/100
3150/3150 - 0s - loss: 1.1132 - acc: 0.4952
Epoch 46/100
3150/3150 - 0s - loss: 1.1146 - acc: 0.5013
Epoch 47/100
3150/3150 - 0s - loss: 1.1047 - acc: 0.5029
Epoch 48/100
3150/3150 - 0s - loss: 1.1055 - acc: 0.4943
Epoch 49/100
3150/3150 - 0s - loss: 1.1085 - acc: 0.4895
Epoch 50/100
3150/3150 - 0s - loss: 1.1105 - acc: 0.5000
Epoch 51/100
3150/3150 - 0s - loss: 1.1051 - acc: 0.5051
Epoch 52/100
3150/3150 - 0s - loss: 1.1061 - acc: 0.4908
Epoch 53/100
3150/3150 - 0s - loss: 1.1043 - acc: 0.4990
Epoch 54/100
3150/3150 - 0s - loss: 1.1114 - acc: 0.4892
Epoch 55/100
3150/3150 - 0s - loss: 1.1077 - acc: 0.4987
Epoch 56/100
3150/3150 - 0s - loss: 1.1039 - acc: 0.5010
Epoch 57/100
3150/3150 - 0s - loss: 1.1107 - acc: 0.4940
Epoch 58/100
3150/3150 - 0s - loss: 1.1002 - acc: 0.5000
Epoch 59/100
3150/3150 - 0s - loss: 1.1041 - acc: 0.5010
Epoch 60/100
3150/3150 - 0s - loss: 1.1021 - acc: 0.4949
Epoch 61/100
3150/3150 - 0s - loss: 1.0945 - acc: 0.5006
Epoch 62/100
3150/3150 - 0s - loss: 1.0988 - acc: 0.5070
Epoch 63/100
3150/3150 - 0s - loss: 1.1026 - acc: 0.4990
Epoch 64/100
3150/3150 - 0s - loss: 1.1006 - acc: 0.5073
Epoch 65/100
3150/3150 - 0s - loss: 1.1031 - acc: 0.5006
Epoch 66/100
3150/3150 - 0s - loss: 1.1027 - acc: 0.4990
Epoch 67/100
3150/3150 - 0s - loss: 1.1001 - acc: 0.4956
Epoch 68/100
3150/3150 - 0s - loss: 1.0945 - acc: 0.5010
Epoch 69/100
3150/3150 - 0s - loss: 1.0923 - acc: 0.4994
Epoch 70/100
3150/3150 - 0s - loss: 1.0946 - acc: 0.5022
Epoch 71/100
3150/3150 - 0s - loss: 1.0960 - acc: 0.5032
Epoch 72/100
3150/3150 - 0s - loss: 1.0918 - acc: 0.5025
Epoch 73/100
3150/3150 - 0s - loss: 1.0959 - acc: 0.5016
Epoch 74/100
3150/3150 - 0s - loss: 1.0904 - acc: 0.4962
Epoch 75/100
3150/3150 - 0s - loss: 1.0922 - acc: 0.5038
Epoch 76/100
3150/3150 - 0s - loss: 1.0972 - acc: 0.5013
Epoch 77/100
3150/3150 - 0s - loss: 1.0988 - acc: 0.4987
Epoch 78/100
3150/3150 - 0s - loss: 1.0949 - acc: 0.4971
Epoch 79/100
3150/3150 - 0s - loss: 1.0936 - acc: 0.4994
Epoch 80/100
3150/3150 - 0s - loss: 1.0862 - acc: 0.5159
Epoch 81/100
3150/3150 - 0s - loss: 1.0830 - acc: 0.5086
Epoch 82/100
3150/3150 - 0s - loss: 1.0880 - acc: 0.5029
Epoch 83/100
3150/3150 - 0s - loss: 1.0892 - acc: 0.5079
Epoch 84/100
3150/3150 - 0s - loss: 1.0866 - acc: 0.5127
Epoch 85/100
3150/3150 - 0s - loss: 1.0937 - acc: 0.5121
Epoch 86/100
3150/3150 - 0s - loss: 1.0901 - acc: 0.5048
Epoch 87/100
3150/3150 - 0s - loss: 1.0833 - acc: 0.5092
Epoch 88/100
3150/3150 - 0s - loss: 1.0891 - acc: 0.5127
Epoch 89/100
3150/3150 - 0s - loss: 1.0910 - acc: 0.5019
Epoch 90/100
3150/3150 - 0s - loss: 1.0920 - acc: 0.5003
Epoch 91/100
3150/3150 - 0s - loss: 1.0846 - acc: 0.5095
Epoch 92/100
3150/3150 - 0s - loss: 1.0893 - acc: 0.5114
Epoch 93/100
3150/3150 - 0s - loss: 1.0842 - acc: 0.5149
Epoch 94/100
3150/3150 - 0s - loss: 1.0930 - acc: 0.5025
Epoch 95/100
3150/3150 - 0s - loss: 1.0844 - acc: 0.5108
Epoch 96/100
3150/3150 - 0s - loss: 1.0854 - acc: 0.5038
Epoch 97/100
3150/3150 - 0s - loss: 1.0907 - acc: 0.5073
Epoch 98/100
3150/3150 - 0s - loss: 1.0836 - acc: 0.5137
Epoch 99/100
3150/3150 - 0s - loss: 1.0873 - acc: 0.5038
Epoch 100/100
3150/3150 - 0s - loss: 1.0806 - acc: 0.5044

In [ ]:
# X_train_scaled

In [ ]:
# y_train_categorical.shape

In [27]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

1050/1050 - 0s - loss: 1.1660 - acc: 0.4810
Normal Neural Network - Loss: 1.1660350458962576, Accuracy: 0.4809523820877075

In [28]:
encoded_predictions = model.predict_classes(X_test_scaled[:30])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [29]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:30])}")

Predicted classes: ['Medium' 'Medium' 'Medium' 'Medium' 'Medium' 'Medium' 'Medium' 'High'
 'Medium' 'Medium' 'Medium' 'Low' 'Medium' 'Medium' 'High' 'Medium'
 'Medium' 'High' 'Medium' 'Medium' 'Medium' 'Medium' 'Medium' 'Medium'
 'Medium' 'Medium' 'Medium' 'Medium' 'Medium' 'Medium']
Actual Labels: ['High', 'Low', 'Low', 'Medium', 'High', 'Low', 'High', 'High', 'High', 'Low', 'VeryHigh', 'Medium', 'Medium', 'Medium', 'Medium', 'Medium', 'Low', 'Medium', 'VeryLow', 'Medium', 'High', 'Medium', 'High', 'Medium', 'Medium', 'Medium', 'Medium', 'Medium', 'Medium', 'Medium']

In [30]:
model.save("static/models/alldistricts.h5")